body {
    background: black;
}

.container {
    display: flex;
    flex-direction: column;
    background: white;
}

.product {
    background: white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
